SMTP_HOST=mail.myplanb.at
SMTP_PORT=587
SMTP_USER=fragebogen@myplanb.at
SMTP_PASS=
SMTP_FROM=fragebogen@myplanb.at
RECIPIENT_EMAILS=beratung@myplanb.at
NEXT_PUBLIC_CALENDLY_URL=https://calendly.com/myplanb
